@mixin load-font($name, $weight, $style: 'normal') {
	@font-face {
		font-family: $name;
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
		src: url('../assets/fonts/' + $name + '-' + $weight + '.woff2') format('woff2');
	}
}

@mixin media-down($size) {
	@media (max-width: $size) {
		@content;
	}
}

@mixin media-up($size) {
	@media (min-width: $size + 1px) {
		@content;
	}
}
