@use 'sass:math';
@use '../config/vars' as vars;

@function to-rem($px, $precision: 2) {
	$ratio: math.div($px, vars.$rem-size);
	$factor: math.pow(10, $precision);
	$rounded: math.div(math.round($ratio * $factor), $factor);

	@return $rounded * 1rem;
}
