@use '../mixins' as mixins;
@use '../config/vars' as vars;

@include mixins.load-font('roboto', 400);
@include mixins.load-font('roboto', 500);

html {
	font-size: vars.$rem-size;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}

body {
	font-family: 'roboto', system-ui, sans-serif;
	text-wrap: pretty;
	-webkit-font-smoothing: antialiased;
}
