{% extends 'layouts/default.twig' %}

{% block title %}index page{% endblock %}

{% block content %}
    <div class="vs-container vs-py-6">
        <div class="vs-row">
            <div class="vs-col-12 vs-col-sm-3">index</div>
            <div class="vs-col-12 vs-col-sm-9">page</div>
        </div>
    </div>
{% endblock %}
